<h1>Add a definition to: <%= @word.word() %></h1>

<form action="/definitions" method="post">
  <input id="definitions" name="definitions" type="hidden" value="<%= @word.id() %>">

  <label for='def'>Definition</label>
  <input id="def" name="def" type="text">

  <button type="submit">Add Definition</button>
</form>

<h3>Here is the definition for <%= @word.word() %>:</h3>

<ul>
  <% @word.definition().each() do |each_def| %>
  <li><a href="/definitions/<%= each_def.id() %>"><%= each_def.def() %></li>
  <% end %>
</ul>
